/* style.css */
body{
  background: rgb(245,245,245);
  color: lightcoral;
  font-size: 15px;
  font-family: Helvetica;
}
.Titre
h1 {
  font-family: Helvetica;
  color: lightpink;
  font-weight: lighter;
  font-size: 25px;
}

h2 {
  font-family: Helvetica;
  color: lightpink;
  font-weight: lighter;
  font-size: 8px;
}
a {
  color: purple;
}
a:hover {
  text-decoration: none;
  color: purple;
}